@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*puts everything with no alignments or seperations from default mode.*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}